@charset "utf-8";
/* CSS Document */

/*全体設定*/

html {
    line-height: 2.1;
}

* {
    background-repeat: no-repeat;
}

body {
    font-family: "小塚ゴシック Pr6N", sans-selif, system-ui;
    font-weight: normal;
}

.clear {
	clear: both;
}

.clearfix::after{
	content:"";
	display:block;
	clear:both;
}

img {
    width: 100%;
}

h2 span {
	font-size: 11.8vw;
}

h2 {
	position: absolute;
	top: 4vw;
	left: 4vw;
    font-family: "小塚明朝 Pro";
    font-weight: normal;
    font-size: 4vw;
}

/* ナビの設定 */

nav {
    font-family: "小塚ゴシック Pr6N", sans-selif, system-ui;
    font-size: 100%;
    color: white;
    vertical-align: middle;
}

nav ul li a {
	display: block;
}

nav ul li img {
    /* width: 6.48vw; */
}

nav ul {
    height: 12vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 86.11vw;
    margin: auto;
}


/*メインセクション*/

body, nav {
	background-color: #0099cc;
}

section {
	position: relative;
}

ul {
	margin-top: 1vw;
}